advent-of-code
valence-examples
# Cargo.lock # remove all of em because we dont need em

# for keeping exe files
# learn-rust projects
learn-rust/*/target/*

!learn-rust/*/target/debug
learn-rust/*/target/debug/*

!learn-rust/*/target/debug/*.exe


# standalone folders
*/target/*

!*/target/debug
*/target/debug/*

!*/target/debug/*.exe
