advent-of-code
valence-examples
wordlearn
quizevents
cyclerebornsettings
# Cargo.lock # its better to have them

# for keeping exe files
# learn-rust projects
learn-rust/*/target/*

!learn-rust/*/target/debug
learn-rust/*/target/debug/*

!learn-rust/*/target/debug/*.exe


# standalone folders
*/target/*

!*/target/debug
*/target/debug/*

!*/target/debug/*.exe
